Source - Spread/App_WebReferences/biz/lbinfotech/www/Data.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VAR_CALLER_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_SUB_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_COLLEGE_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_STUDENT_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_GENDER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_BATCH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_COURSE_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_STUDENT_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_FROM_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_TO_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_ATTEND_PERCENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VAR_LANGUAGE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpGetIn">
    <wsdl:part name="VAR_CALLER_ID" type="s:string" />
    <wsdl:part name="VAR_TYPE" type="s:string" />
    <wsdl:part name="VAR_SUB_TYPE" type="s:string" />
    <wsdl:part name="VAR_COLLEGE_CODE" type="s:string" />
    <wsdl:part name="VAR_STUDENT_NAME" type="s:string" />
    <wsdl:part name="VAR_GENDER" type="s:string" />
    <wsdl:part name="VAR_BATCH" type="s:string" />
    <wsdl:part name="VAR_COURSE_NAME" type="s:string" />
    <wsdl:part name="VAR_STUDENT_ID" type="s:string" />
    <wsdl:part name="VAR_FROM_DATE" type="s:string" />
    <wsdl:part name="VAR_TO_DATE" type="s:string" />
    <wsdl:part name="VAR_ATTEND_PERCENT" type="s:string" />
    <wsdl:part name="VAR_LANGUAGE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpPostIn">
    <wsdl:part name="VAR_CALLER_ID" type="s:string" />
    <wsdl:part name="VAR_TYPE" type="s:string" />
    <wsdl:part name="VAR_SUB_TYPE" type="s:string" />
    <wsdl:part name="VAR_COLLEGE_CODE" type="s:string" />
    <wsdl:part name="VAR_STUDENT_NAME" type="s:string" />
    <wsdl:part name="VAR_GENDER" type="s:string" />
    <wsdl:part name="VAR_BATCH" type="s:string" />
    <wsdl:part name="VAR_COURSE_NAME" type="s:string" />
    <wsdl:part name="VAR_STUDENT_ID" type="s:string" />
    <wsdl:part name="VAR_FROM_DATE" type="s:string" />
    <wsdl:part name="VAR_TO_DATE" type="s:string" />
    <wsdl:part name="VAR_ATTEND_PERCENT" type="s:string" />
    <wsdl:part name="VAR_LANGUAGE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DataSoap">
    <wsdl:operation name="GetData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Data.</wsdl:documentation>
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataHttpGet">
    <wsdl:operation name="GetData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Data.</wsdl:documentation>
      <wsdl:input message="tns:GetDataHttpGetIn" />
      <wsdl:output message="tns:GetDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DataHttpPost">
    <wsdl:operation name="GetData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Data.</wsdl:documentation>
      <wsdl:input message="tns:GetDataHttpPostIn" />
      <wsdl:output message="tns:GetDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataSoap" type="tns:DataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataSoap12" type="tns:DataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataHttpGet" type="tns:DataHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetData">
      <http:operation location="/GetData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataHttpPost" type="tns:DataHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetData">
      <http:operation location="/GetData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Data">
    <wsdl:port name="DataSoap" binding="tns:DataSoap">
      <soap:address location="http://www.lbinfotech.biz/attendence/Data.asmx" />
    </wsdl:port>
    <wsdl:port name="DataSoap12" binding="tns:DataSoap12">
      <soap12:address location="http://www.lbinfotech.biz/attendence/Data.asmx" />
    </wsdl:port>
    <wsdl:port name="DataHttpGet" binding="tns:DataHttpGet">
      <http:address location="http://www.lbinfotech.biz/attendence/Data.asmx" />
    </wsdl:port>
    <wsdl:port name="DataHttpPost" binding="tns:DataHttpPost">
      <http:address location="http://www.lbinfotech.biz/attendence/Data.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>